.TableHeader {
    border-bottom: 1px solid rgb(105, 105, 105);
}

.TableHeader .TabelHeader-Item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
}

.TableHeader .TabelHeader-Item {
    cursor: pointer;
    color: rgb(158, 158, 158);
    transition: color 100ms ease-in-out;
    user-select: none;
}

.TableHeader .TabelHeader-Item:hover,
.TableHeader .TabelHeader-Item:hover.sorted::after {
    color: black;
}

.TableHeader .TabelHeader-Item:last-child {
    color: rgb(158, 158, 158);
    /* Important to rewrite table row style */
    cursor: default !important;
    user-select: none;
}

.TableHeader .TabelHeader-Item.sorted::after {
    content: ">";
    font-size: 14px;
    margin-left: 3px;
    color: lightgrey;
    transform: rotate(90deg);
    transition: color 100ms ease-in-out;
}

.TableHeader .TabelHeader-Item.sorted.reversed::after {
    transform: rotate(270deg);
}
