.TableWrapper {
    max-width: 600px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.TablePhrase {
    font-size: 14px;
    text-transform: uppercase;
}
.Table {
    width: 100%;
}
.TableItem {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.TableItem > div {
    width: calc(85% / 5);
    text-align: center;
    font-size: 12px;
}
.TableItem > div:first-child {
    width: 5%;
}
.TableItem > div:last-child {
    width: 10%;
    cursor: pointer;
}
